/rust/target
/rust/**/*.rs.bk
/rust/Cargo.lock


# transitory files
.DS_Store
.#*
*.swp
*.swo

# perl
.precomp/


/crystal/docs/
/crystal/lib/
/crystal/bin/
/crystal/.shards/
*.dwarf

.crystal/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/crystal/shard.lock


/js/node_modules/
